<html>
<head>
    <title>Example HTTP exchanges for {{http.requestUri}}</title>
    <style type="text/css">

        @font-face {
            font-family: "Kimberley";
            src: url(http://www.princexml.com/fonts/larabie/ »
            kimberle.ttf) format("truetype");
        }

        *{
            font-family: "Arial", sans-serif
        }

        table{
            min-width: 800px;
        }

        td{
            vertical-align: middle;
            border: 1px solid #000000;
            border-width: 0px 0px 1px 0px;
            text-align: left;
            padding: 7px;
            font-size: 12px;
            font-family: Arial;
            font-weight: normal;
            color: #000000;
        }

        tr{
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
        }

        pre{
            margin: 0px;
            font-size: 13px;
        }

        .border{
            border: 1px solid gray;
        }

        .centered{
            text-align: center
        }

        .block{
            background-color: #03A2CC;
            display: inline-block;
            padding: 5px;
            border-radius: 5px;
            color: white;
        }

        .type_column{
            width: 70px;
        }

        .response_column{
            width: 100px;
        }

        .margin_0{
            margin: 0px;
        }

        .summary{
            font-size: 20px;
            color: #03A2CC;;
        }

        .request_details{
            height: 28px;
            background-color: rgba(156, 156, 156, 0.48);
            padding: 10px;
            color: #6F6F6F;
            margin-top: 35px;
            margin-bottom: 25px;
        }

        .title{
            margin: 3px;
            font-size: 20px;
        }

        .request_description{
            display: inline-block;
            float: right;
            margin-top: 4px;
        }
        .request_header{
            width: 500px;
            padding: 10px;
            color: white;
            background-color: #353535;
            margin-bottom: 10px;
        }
        .request_body{
            width: 500px;
            padding: 10px;
            color: white;
            background-color: #353535;
            margin-bottom: 10px;
        }

        .request_header>p{
            margin: 0px;
            font-size: 13px;
        }

        .request_body>p{
            margin: 0px;
            font-size: 13px;
        }

        .item_description{
            margin-bottom: 0px;
        }

        .request{
            font-size: 20px;
            margin: 0px;
        }

        .request_response_container{
            border: 1px solid rgba(158, 158, 158, 0.52);
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 15px;
        }

        .main_container{
            width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>
<body>

